@import url("./reset.css");

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-left: 15px;
  padding-right: 15px;
}

.active {
  color: rgb(77, 77, 199);
}

input {
  outline: 1px solid black;
  padding: 10px;
  border-radius: 8px;
}

input:focus {
  border: 1px solid rgb(99, 99, 224);
}

button {
  margin-left: 10px;
  text-align: center;
  padding: 10px 15px;
  border-radius: 8px;
  outline: 1px solid black;
  color: #fff;
  background-color: rgb(64, 64, 184);
}

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

p {
  font-size: 25px;
}

li {
  padding-bottom: 6px;
}

header {
  width: 100%;
  min-height: 80px;
  background-color: rgb(1, 1, 48);
}

.main {
  flex-grow: 1;
  margin-top: 80px;
  padding-bottom: 80px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding-top: 20px;
}

.link {
  font-size: 24px;
  color: #000;
}

a {
  gap: 38px;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  transition: 0.2s ease-in;
}

a:hover {
  color: rgb(129, 129, 245);
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: center;
  min-height: 80px;
  color: #fff;
  background-color: rgb(1, 1, 48);
}

footer p {
  padding-top: 20px;
  font-size: 20px;
}
